In [43]:
import pandas as pd
import numpy as np

In [44]:
# Define the Excel file path
file_path = 'ChallengeXHEC23022024.xlsx'
excel_data = pd.read_excel(file_path, sheet_name=None)

for sheet_name, df in excel_data.items():
    # Define the custom name for each DataFrame
    custom_name = f"{sheet_name}_df"
    # Store the DataFrame as a separate variable with the custom name
    globals()[custom_name] = df

In [45]:
clients_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID Client  118 non-null    int64
 1   Latitude   118 non-null    float64
 2   Longitude  118 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 2.9 KB

In [46]:
JAN24_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2870 entries, 0 to 2869
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID Client       2870 non-null   int64
 1   ID Intervenant  2870 non-null   int64
 2   Date            2870 non-null   datetime64[ns]
 3   Heure de début  2870 non-null   object
 4   Heure de fin    2870 non-null   object
 5   Prestation      2870 non-null   object
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 134.7+ KB

In [47]:
JAN24_df.Prestation.unique()

array(['REPAS', 'TOILETTE', 'VIE SOCIALE', 'AIDE MENAGERE',
       'ADMINISTRATION', 'ACCOMPAGNEMENTS COURSES', 'FEMME DE MENAGE',
       'VISITE MEDICALE', 'FORMATION', "GARDE D'ENFANTS", 'COORDINATION',
       'HOMMES TOUTES MAINS'], dtype=object)

In [48]:
intervenants_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID Intervenant      24 non-null     int64
 1   Latitude            24 non-null     float64
 2   Longitude           24 non-null     float64
 3   Compétences         24 non-null     object
 4   Permis              23 non-null     object
 5   Véhicule personnel  23 non-null     object
 6   Dispo / Indispo     24 non-null     object
dtypes: float64(2), int64(1), object(4)
memory usage: 1.4+ KB

In [49]:
intervenants_df.head()

,ID Intervenant,Latitude,Longitude,Compétences,Permis,Véhicule personnel,Dispo / Indispo
0,838320706,48.738516,1.391971,"AIDE MENAGERE, REPAS, TOILETTE",Oui,Oui,"Indispo 01/01, 30/01, 31/01"
1,609468992,48.640555,1.232581,"TOILETTE, REPAS, VIE SOCIALE, AIDE MENAGERE",Oui,Oui,"Indispo Tous les mercredis + 13/01, 14/01, 27/..."
2,78012267,48.729206,1.371985,"HOMMES TOUTES MAINS, JARDINAGE",Oui,Oui,Dispo le 25/01
3,818696864,48.744702,1.357921,"REPAS, AIDE MENAGERE, ACCOMPAGNEMENTS COURSES,...",Oui,Oui,Indispo tous les samedis et dimanche
4,746414886,48.769455,1.197644,"TOILETTE, REPAS, AIDE MENAGERE, ACCOMPAGNEMENT...",Oui,Oui,Indispo tous les mercredis + le 05/01

In [50]:
# Filter out non-service interventions
service_interventions_df = JAN24_df[~JAN24_df['Prestation'].isin(['ADMINISTRATION', 'FORMATION', 'COORDINATION', 'HOMMES TOUTES MAINS', 'VISITE MEDICALE'])]

In [51]:
import requests

#Calculate distance between intervenants and Client

# Étape 1: Créer une nouvelle table pour les prestations nécessaires par client
prestations_clients = service_interventions_df.groupby('ID Client')['Prestation'].unique().apply(lambda x: ','.join(x)).reset_index()
prestations_clients.rename(columns={'Prestation': 'Prestations Necessaires'}, inplace=True)

# Étape 2: Joindre avec clients_df pour obtenir la latitude et la longitude des clients
clients_prestations_df = pd.merge(prestations_clients, clients_df, on='ID Client', how='left')

# API Google Maps pour calculer les distances
# Vous devez obtenir une clé API Google Maps Distance Matrix pour utiliser cette API
google_maps_api_key = 'AIzaSyAoGZalUVg0lo602n2UypRRbWBdNQBt_sU'

In [54]:
# Fonction pour calculer la distance entre deux points en voiture ou à vélo
def calculate_distance(origin_lat, origin_lng, dest_lat, dest_lng, mode):
    url = f'https://maps.googleapis.com/maps/api/distancematrix/json?origins={origin_lat},{origin_lng}&destinations={dest_lat},{dest_lng}&mode={mode}&key={google_maps_api_key}'
    response = requests.get(url)
    data = response.json()
    distance_text = data['rows'][0]['elements'][0]['distance']['text']
    duration_text = data['rows'][0]['elements'][0]['duration']['text']
    return distance_text, duration_text

# Étape 3: Joindre les intervenants avec les clients et calculer la distance
for index, row in clients_prestations_df.iterrows():
    prestations_client = row['Prestations Necessaires']
    
    # Handle case where only one prestation is needed
    if ',' not in prestations_client:  # Corrected this line
        competences_intervenants_df = intervenants_df[intervenants_df['Compétences'].str.contains(prestations_client)]
    else:
        competences_intervenants_df = intervenants_df[intervenants_df['Compétences'].apply(lambda x: isinstance(x, str) and any(prestation in x.split(',') for prestation in prestations_client.split(',')))]

    for idx, intrvnt_row in competences_intervenants_df.iterrows():
        if intrvnt_row['Permis'] == 'Oui' and intrvnt_row['Véhicule personnel'] == 'Oui':
            distance, duration = calculate_distance(row['Latitude'], row['Longitude'], intrvnt_row['Latitude'], intrvnt_row['Longitude'], 'driving')
        else:
            distance, duration = calculate_distance(row['Latitude'], row['Longitude'], intrvnt_row['Latitude'], intrvnt_row['Longitude'], 'bicycling')
            
        # Ajouter les détails de l'intervenant et la distance/temps de trajet à une nouvelle table ou à clients_prestations_df
        clients_prestations_df.at[index, f"Distance_Intervenant_{intrvnt_row['ID Intervenant']}"] = distance
        clients_prestations_df.at[index, f"Duration_Intervenant_{intrvnt_row['ID Intervenant']}"] = duration

In [55]:
clients_prestations_df

,ID Client,Prestations Necessaires,Latitude,Longitude,Distance_Intervenant_838320706,Duration_Intervenant_838320706,Distance_Intervenant_609468992,Duration_Intervenant_609468992,Distance_Intervenant_818696864,Duration_Intervenant_818696864,...,Distance_Intervenant_162858075,Duration_Intervenant_162858075,Distance_Intervenant_739888851,Duration_Intervenant_739888851,Distance_Intervenant_648993440,Duration_Intervenant_648993440,Distance_Intervenant_78007018,Duration_Intervenant_78007018,Distance_Intervenant_776399834,Duration_Intervenant_776399834
0,78690893,AIDE MENAGERE,48.714788,1.364818,5.4 km,7 mins,14.4 km,15 mins,6.1 km,11 mins,...,1.3 km,5 mins,9.2 km,12 mins,13.8 km,15 mins,NaN,NaN,NaN,NaN
1,78691334,"AIDE MENAGERE,ACCOMPAGNEMENTS COURSES",48.705077,1.333307,7.7 km,11 mins,NaN,NaN,NaN,NaN,...,NaN,NaN,8.4 km,12 mins,NaN,NaN,NaN,NaN,NaN,NaN
2,78691389,AIDE MENAGERE,48.724357,1.432986,4.5 km,8 mins,20.8 km,23 mins,8.5 km,14 mins,...,6.3 km,11 mins,13.0 km,16 mins,17.6 km,19 mins,NaN,NaN,NaN,NaN
3,78691461,"REPAS,TOILETTE,AIDE MENAGERE",48.763213,1.231335,13.8 km,15 mins,18.3 km,23 mins,10.7 km,12 mins,...,13.8 km,18 mins,6.8 km,9 mins,0.9 km,2 mins,16.5 km,18 mins,11.6 km,14 mins
4,78692265,"AIDE MENAGERE,ACCOMPAGNEMENTS COURSES",48.740610,1.351789,4.7 km,8 mins,NaN,NaN,NaN,NaN,...,NaN,NaN,5.3 km,7 mins,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,1452740690,ACCOMPAGNEMENTS COURSES,48.719538,1.377670,NaN,NaN,NaN,NaN,4.2 km,12 mins,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,1452763176,AIDE MENAGERE,48.731270,1.337325,5.0 km,10 mins,17.0 km,17 mins,3.2 km,7 mins,...,3.7 km,8 mins,6.3 km,9 mins,10.9 km,12 mins,NaN,NaN,NaN,NaN
112,1452775101,TOILETTE,48.717309,1.418432,4.5 km,6 mins,19.5 km,19 mins,NaN,NaN,...,5.0 km,6 mins,NaN,NaN,17.4 km,19 mins,8.9 km,10 mins,9.6 km,12 mins
113,1452858131,TOILETTE,48.776801,1.370417,6.8 km,9 mins,23.2 km,26 mins,NaN,NaN,...,10.2 km,13 mins,NaN,NaN,13.7 km,15 mins,12.6 km,17 mins,7.6 km,13 mins
114,1453084257,AIDE MENAGERE,48.758928,1.249739,12.8 km,16 mins,18.0 km,24 mins,9.7 km,12 mins,...,12.8 km,18 mins,5.8 km,9 mins,1.3 km,3 mins,NaN,NaN,NaN,NaN

In [52]:
import itertools

# Function to calculate distance between two points
def calculate_distance(origin_lat, origin_lng, dest_lat, dest_lng, mode):
    url = f'https://maps.googleapis.com/maps/api/distancematrix/json?origins={origin_lat},{origin_lng}&destinations={dest_lat},{dest_lng}&mode={mode}&key={google_maps_api_key}'
    response = requests.get(url)
    data = response.json()
    distance_text = data['rows'][0]['elements'][0]['distance']['text']
    duration_text = data['rows'][0]['elements'][0]['duration']['text']
    return distance_text, duration_text

# List to store distances
distances = []

# Generate combinations of clients
client_combinations = list(itertools.combinations(clients_prestations_df['ID Client'], 2))

# Calculate distance between each pair of clients
for client1_id, client2_id in client_combinations:
    client1_lat, client1_lng = clients_prestations_df.loc[clients_prestations_df['ID Client'] == client1_id, ['Latitude', 'Longitude']].values[0]
    client2_lat, client2_lng = clients_prestations_df.loc[clients_prestations_df['ID Client'] == client2_id, ['Latitude', 'Longitude']].values[0]
    
    # Calculate distance and duration by car
    distance_car, duration_car = calculate_distance(client1_lat, client1_lng, client2_lat, client2_lng, 'driving')
    
    # Calculate distance and duration by bike
    distance_bike, duration_bike = calculate_distance(client1_lat, client1_lng, client2_lat, client2_lng, 'bicycling')
    
    # Append results to the distances list
    distances.append({
        'ID Client 1': client1_id,
        'ID Client 2': client2_id,
        'Distance_Car': distance_car,
        'Duration_Car': duration_car,
        'Distance_Bike': distance_bike,
        'Duration_Bike': duration_bike
    })

# Create a new DataFrame from the distances list
distances_df = pd.DataFrame(distances)

# Display the new DataFrame
distances_df

,ID Client 1,ID Client 2,Distance_Car,Duration_Car,Distance_Bike,Duration_Bike
0,78690893,78691334,3.7 km,6 mins,4.1 km,15 mins
1,78690893,78691389,7.7 km,12 mins,6.6 km,24 mins
2,78690893,78691461,14.4 km,16 mins,14.9 km,50 mins
3,78690893,78692265,5.0 km,7 mins,4.1 km,16 mins
4,78690893,78865175,18.9 km,19 mins,15.2 km,49 mins
...,...,...,...,...,...,...
6550,1452763176,1452858131,7.2 km,11 mins,8.3 km,27 mins
6551,1452763176,1453084257,10.4 km,12 mins,10.7 km,33 mins
6552,1452775101,1452858131,10.5 km,13 mins,11.5 km,37 mins
6553,1452775101,1453084257,17.0 km,19 mins,18.7 km,1 hour 5 mins
6554,1452858131,1453084257,13.2 km,15 mins,10.7 km,36 mins