In [1]:
import pandas as pd
data = pd.read_csv('data/dossier_complet/dossier_complet.csv',sep = ';')

/var/folders/gf/krd86t8n5cqdjlrv032x5d_h0000gn/T/ipykernel_81191/2811351193.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data/dossier_complet/dossier_complet.csv',sep = ';')

In [2]:
data['CODGEO']

0         1001
1         1002
2         1004
3         1005
4         1006
         ...
34996    51063
34997    51637
34998    71492
34999    85037
35000    85053
Name: CODGEO, Length: 35001, dtype: object

In [4]:
meta = pd.read_csv('data/dossier_complet/meta_dossier_complet.csv',sep=';')
meta.shape

/var/folders/gf/krd86t8n5cqdjlrv032x5d_h0000gn/T/ipykernel_81191/2888885363.py:1: DtypeWarning: Columns (3,7) have mixed types. Specify dtype option on import or set low_memory=False.
  meta = pd.read_csv('data/dossier_complet/meta_dossier_complet.csv',sep=';')

(71855, 9)

In [5]:
meta.head(9)

,COD_VAR,LIB_VAR,LIB_VAR_LONG,COD_MOD,LIB_MOD,TYPE_VAR,LONG_VAR,THEME,SOURCE
0,P20_POP,Population en 2020 (princ),Population en 2020,NaN,NaN,NUM,7,Évolution et structure de la population,"Insee, RP2009, RP2014 et RP2020, géographie au..."
1,P20_POP0014,Pop 0-14 ans en 2020 (princ),Nombre de personnes de 0 à 14 ans en 2020,NaN,NaN,NUM,17,Évolution et structure de la population,"Insee, RP2009, RP2014 et RP2020, géographie au..."
2,P20_POP1529,Pop 15-29 ans en 2020 (princ),Nombre de personnes de 15 à 29 ans en 2020,NaN,NaN,NUM,17,Évolution et structure de la population,"Insee, RP2009, RP2014 et RP2020, géographie au..."
3,P20_POP3044,Pop 30-44 ans en 2020 (princ),Nombre de personnes de 30 à 44 ans en 2020,NaN,NaN,NUM,17,Évolution et structure de la population,"Insee, RP2009, RP2014 et RP2020, géographie au..."
4,P20_POP4559,Pop 45-59 ans en 2020 (princ),Nombre de personnes de 45 à 59 ans en 2020,NaN,NaN,NUM,17,Évolution et structure de la population,"Insee, RP2009, RP2014 et RP2020, géographie au..."
5,P20_POP6074,Pop 60-74 ans en 2020 (princ),Nombre de personnes de 60 à 74 ans en 2020,NaN,NaN,NUM,17,Évolution et structure de la population,"Insee, RP2009, RP2014 et RP2020, géographie au..."
6,P20_POP7589,Pop 75-89 ans en 2020 (princ),Nombre de personnes de 75 à 89 ans en 2020,NaN,NaN,NUM,17,Évolution et structure de la population,"Insee, RP2009, RP2014 et RP2020, géographie au..."
7,P20_POP90P,Pop 90 ans ou plus en 2020 (princ),Nombre de personnes de 90 ans ou plus en 2020,NaN,NaN,NUM,17,Évolution et structure de la population,"Insee, RP2009, RP2014 et RP2020, géographie au..."
8,P20_POPH,Pop Hommes en 2020 (princ),Nombre total d'hommes en 2020,NaN,NaN,NUM,17,Évolution et structure de la population,"Insee, RP2009, RP2014 et RP2020, géographie au..."

In [6]:
meta[meta['COD_MOD']== '14001']
#meta['COD_MOD'].unique()

,COD_VAR,LIB_VAR,LIB_VAR_LONG,COD_MOD,LIB_MOD,TYPE_VAR,LONG_VAR,THEME,SOURCE
6306,CODGEO,Code commune,Code commune,14001,Ablon,CHAR,5,NaN,"Insee, COG au 01/01/2023"
41266,CODGEO,Code géographique,Code du département suivi du numéro de commune...,14001,Ablon,CHAR,5,NaN,"Insee, COG au 01/01/2022"

In [7]:
data['CODGEO'] = data['CODGEO'].astype(str)
filtered_data = data[data['CODGEO'].str.startswith(('14', '27', '50', '61', '76'))]
filtered_data.head()

,CODGEO,P20_POP,P20_POP0014,P20_POP1529,P20_POP3044,P20_POP4559,P20_POP6074,P20_POP7589,P20_POP90P,P20_POPH,...,CPGEO524,VV24,VVUH24,VVLIT24,RT24,RTUH24,RTLIT24,AJCS24,AJCSUH24,AJCSLIT24
342,1400,139.0,22.321168,18.262774,22.321168,35.510949,29.423358,10.145985,1.014599,73.051095,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
343,1401,2209.0,514.000000,307.000000,482.000000,493.000000,270.000000,132.000000,11.000000,1097.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
344,1402,650.0,110.122100,76.510193,116.185364,149.435095,124.392942,66.163795,7.190511,328.043809,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
345,1403,1310.0,234.000000,226.000000,236.000000,279.000000,194.000000,117.000000,24.000000,645.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
346,1404,134.0,21.000000,12.000000,21.000000,34.000000,32.000000,14.000000,0.000000,73.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
filtered_data.shape

(2950, 1883)

In [9]:
# Create a mapping from the first two digits to prefectures
prefecture_mapping = {
    '14': 'Caen',
    '50': 'Saint-Lo',
    '61': 'Alencon'
}

# Apply the mapping to create a new 'Prefecture' column based on the 'CODGEO' column's first two digits
filtered_data['Prefecture'] = filtered_data['CODGEO'].str[:2].map(prefecture_mapping)

# Example of grouping by the new 'Prefecture' column and performing some aggregation (e.g., counting rows)
grouped_data = filtered_data.groupby('Prefecture').size()

grouped_data

/var/folders/gf/krd86t8n5cqdjlrv032x5d_h0000gn/T/ipykernel_81191/1594122025.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['Prefecture'] = filtered_data['CODGEO'].str[:2].map(prefecture_mapping)

Prefecture
Alencon     449
Caen        578
Saint-Lo    532
dtype: int64

In [10]:
len(filtered_data['CODGEO'])

2950

In [11]:
len(filtered_data['CODGEO'].unique())

2950

In [12]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
import time

def extract_postal_code_and_commune(address_text):
    # Find all sequences of 5 digits in the address
    postal_codes = re.findall(r'\b\d{5}\b', address_text)
    if postal_codes:
        # The last occurrence of a 5-digit sequence is the postal code
        postal_code = postal_codes[-1]
        # The index of the last occurrence of the postal code in the address text
        index = address_text.rfind(postal_code)
        # Extract the commune name which follows the postal code
        commune = address_text[index + 5:].strip()  # +5 to start after the postal code
        return postal_code, commune
    else:
        # Return None if no postal code is found
        return None, None

# Base URL without the page number
base_url = 'https://www.sanitaire-social.com/annuaire-soins-et-aide-a-domicile/services-d-aide-a-domicile-sad/liste-normandie'

# Initialize a list to store addresses
address_data = []

# Loop through the pages
for page in range(1, 13):  # Adjust the range based on the actual number of pages
    # Construct the URL for the current page
    url = f"{base_url}?page={page}"
    
    # Send a GET request to the page
    response = requests.get(url)
    
    # Parse the HTML content
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Find all elements containing the address
    address_elements = soup.find_all('p', class_='card-text address')
    
    # Extract and store the data from each element
    for element in address_elements:
        address_text = element.get_text(strip=True)
        # Extract postal code and commune
        postal_code, commune = extract_postal_code_and_commune(address_text)
        if postal_code and commune:
            address_data.append({'Postal Code': postal_code, 'Commune': commune})
    
    # Be polite: wait a second before scraping the next page
    time.sleep(1)

# Create a DataFrame from the scraped data
df_addresses = pd.DataFrame(address_data)

# Display the first few entries in the DataFrame
print(df_addresses.head())

# Save the DataFrame to a CSV file if needed
# df_addresses.to_csv('normandie_sad_addresses.csv', index=False)

  Postal Code    Commune
0       50000   Saint-Lô
1       27000     Évreux
2       14400     Bayeux
3       14000       Caen
4       14800  Deauville

In [13]:
df_addresses['Postal Code'].unique()

array(['50000', '27000', '14400', '14000', '14800', '27400', '14026',
       '76600', '76000', '76620', '76400', '50100', '50008', '14120',
       '14100', '14200', '27500', '50500', '50250', '50400', '50700',
       '50800', '50300', '50230', '61440', '61400', '76240', '14280',
       '76130', '61250', '76100', '14250', '76230', '14290', '76160',
       '61300', '61110', '14380', '14410', '76150', '61101', '76390',
       '76060', '50200', '76350', '76500', '61500', '76140', '14310',
       '50130', '27800', '27160', '61004', '76570', '27310', '61120',
       '76210', '27620', '14460', '76260', '27017', '61700', '61000',
       '76780', '27100', '76430', '76200', '61800', '14500', '61100',
       '61320', '76560', '61240', '14430', '76300', '76680', '76760',
       '61260', '50600', '14760', '61600', '27670', '14440', '27530',
       '61170', '14017', '27001', '61560', '61140', '14360', '50005',
       '76710', '76280', '27940', '61220', '61200', '76330', '14651',
       '27600', '27140', '14390', '76301', '61380', '50202', '61150',
       '76190', '27330', '76370', '14123', '61450', '27380', '76610',
       '50550', '27440'], dtype=object)

In [14]:
# Perform the aggregation
aggregated_by_commune = df_addresses.groupby('Commune').size().reset_index(name='Count')

# Sort the results by the count, in descending order, to see the communes with the most SADs
aggregated_by_commune = aggregated_by_commune.sort_values(by='Count', ascending=False)

# Display the aggregated DataFrame
print(aggregated_by_commune.head())  # Shows the top communes by count

      Commune  Count
16       Caen     29
101    Évreux     19
1     Alençon     13
72      Rouen     12
51   Le Havre     11

In [15]:
aggregated_by_commune.head(10)

                   Commune  Count
16                    Caen     29
101                 Évreux     19
1                  Alençon     13
72                   Rouen     12
51                Le Havre     11
77                Saint-Lô      9
6                   Bayeux      6
21   Cherbourg-en-Cotentin      6
64      Mortagne-au-Perche      6
28                Domfront      6

In [16]:
# Here we subtract from 1 to ensure that more competitors give a lower index
aggregated_by_commune['Competitor Index'] = 1 - (aggregated_by_commune['Count'] / aggregated_by_commune['Count'].max())

# Normalize the 'Competitor Index' to a scale of 0-100
aggregated_by_commune['Competitor Index'] *= 100

# Sort the DataFrame based on the 'Competitor Index' to see communes with less competition at the top
aggregated_by_commune.sort_values(by='Competitor Index', ascending=False, inplace=True)

# Display the DataFrame with the new 'Competitor Index'
print(aggregated_by_commune.head(10))

#THIS IS NOT RIGHT

                 Commune  Count  Competitor Index
97                Yvetot      1         96.551724
87     Trouville-sur-Mer      1         96.551724
4                 Aumale      1         96.551724
3               Aubevoye      1         96.551724
2               Argentan      1         96.551724
66              Nolléval      1         96.551724
67                Oissel      1         96.551724
0      Agon-Coutainville      1         96.551724
81  Saint-Sever-Calvados      1         96.551724
90              Valognes      1         96.551724

In [18]:
insee = pd.read_csv('data/code_postal_code_insee_2015public.csv',sep =';')
insee.head()

,Geo Point,Geo Shape,ID_GEOFLA,CODE_COM,INSEE_COM,NOM_COM,STATUT,X_CHF_LIEU,Y_CHF_LIEU,X_CENTROID,...,CODE_ARR,CODE_DEPT,NOM_DEPT,CODE_REG,NOM_REG,Nom_commune,Code_postal,Ligne_5,Libellé_d_acheminement,coordonnees_gps
0,"47.01437195152717, 0.3157041445234718","{""coordinates"": [[[0.308170023146216, 46.99992...",COMMUNE00000000000007635,196,37196,RICHELIEU,Commune simple,496727,6660564,496008,...,1.0,37,INDRE-ET-LOIRE,24,CENTRE-VAL DE LOIRE,RICHELIEU,37120.0,NaN,RICHELIEU,"47.014204963, 0.315762618"
1,"45.70528766721012, -0.7948440956985009","{""coordinates"": [[[-0.775148681528635, 45.6928...",COMMUNE00000000000007656,278,17278,PISANY,Commune simple,405884,6518380,404830,...,4.0,17,CHARENTE-MARITIME,75,AQUITAINE-LIMOUSIN-POITOU-CHARENTES,PISANY,17600.0,NaN,PISANY,"45.705135232, -0.7947836140000001"
2,"45.172604816927425, 5.21545397586177","{""coordinates"": [[[5.225640565558654, 45.14621...",COMMUNE00000000000007839,359,38359,SAINT-ANTOINE-L'ABBAYE,Commune simple,874094,6455291,874041,...,1.0,38,ISERE,84,AUVERGNE-RHONE-ALPES,ST ANTOINE L ABBAYE,38160.0,NaN,ST ANTOINE L ABBAYE,"45.184624049, 5.212445683"
3,"48.89029057636954, 6.362501677178978","{""coordinates"": [[[6.355297806937861, 48.87526...",COMMUNE00000000000024101,559,57559,PUZIEUX,Commune simple,946921,6871102,946511,...,2.0,57,MOSELLE,44,ALSACE-CHAMPAGNE-ARDENNE-LORRAINE,PUZIEUX,57590.0,NaN,PUZIEUX,"48.8904713, 6.362597363"
4,"42.57697453656143, 2.2215799461228958","{""coordinates"": [[[2.188124670352984, 42.58754...",COMMUNE00000000000007703,128,66128,OREILLA,Commune simple,638645,6162454,636412,...,3.0,66,PYRENEES-ORIENTALES,76,LANGUEDOC-ROUSSILLON-MIDI-PYRENEES,OREILLA,66360.0,NaN,OREILLA,"42.576225276, 2.2224258470000002"